<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Upload File Demo</title>
</head>

<body>

<h1>Upload File Demo</h1>
<form method="POST" th:action="@{/teste}" th:object="${form}" enctype="multipart/form-data">
    <span th:text="${#fields.allErrors()}"></span>
    <div class="form-floating">
        <input type="number" class="form-control" th:field="*{valor}" id="floatingInput" placeholder="40000.00" th:classappend="${#fields.hasErrors('valor')} ? is-invalid" />

        <div class="invalid-feedback">
            <span th:errors="*{valor}"></span>
        </div>
        <label for="floatingInput" th:text="#{valor}"></label>
    </div>
    <div class="form-floating">
        <input type="number" class="form-control" th:field="*{km}" id="floatingKM" placeholder="0" th:classappend="${#fields.hasErrors('km')} ? 'is-invalid'" />

        <div class="invalid-feedback">
            <span th:errors="*{km}"></span>
        </div>
        <label for="floatingKM" th:text="#{km}"></label>
    </div>
    <div class="form-floating">
        <input type="number" class="form-control" th:field="*{ano}" id="floatingAno" placeholder="2018" th:classappend="${#fields.hasErrors('ano')} ? 'is-invalid'" />

        <div class="invalid-feedback">
            <span th:errors="*{ano}"></span>
        </div>
        <label for="floatingAno" th:text="#{ano}"></label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" th:field="*{chassi}" id="floatingChassi" placeholder="aço inox" th:classappend="${#fields.hasErrors('chassi')} ? 'is-invalid'" />

        <div class="invalid-feedback">
            <span th:errors="*{chassi}"></span>
        </div>
        <label for="floatingChassi" th:text="#{chassi}"></label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" th:field="*{descricao}" id="floatingDesc" placeholder="carro bom" th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'" />

        <div class="invalid-feedback">
            <span th:errors="*{descricao}"></span>
        </div>
        <label for="floatingDesc" th:text="#{descricao}"></label>
    </div>

    <div class="form-floating">
        <input type="text" class="form-control" th:field="*{modelo}" id="floatingMod" placeholder="Fiat 147"th:classappend="${#fields.hasErrors('modelo')} ? 'is-invalid'" />

        <div class="invalid-feedback">
            <span th:errors="*{modelo}"></span>
        </div>
        <label for="floatingMod" th:text="#{modelo}"></label>
    </div>

    <div class="form-floating">
        <input type="text" class="form-control" th:field="*{placa}" id="floatingPlaca" placeholder="1234567"th:classappend="${#fields.hasErrors('placa')} ? 'is-invalid'" />

        <div class="invalid-feedback">
            <span th:errors="*{placa}"></span>
        </div>
        <label for="floatingPlaca" th:text="#{placa}"></label>
    </div>

    <div class="form-floating">
        <input type="file" multiple class="form-control" th:field="*{imagens}" id="floatingImg" th:classappend="${#fields.hasErrors('imagens')} ? 'is-invalid'" />

        <div class="invalid-feedback">
            <span th:errors="*{imagens}"></span>
        </div>
        <label for="floatingImg" th:text="#{imagem}"></label>

    </div>


    <button class="mt-5 mb-3 btn btn-lg btn-primary" type="submit">Cadastrar</button>

</form>

<br />

<div th:if="${sucess} != null">
    <span> <strong th:text="${sucess}"></strong></span>
</div>

<h1>Files</h1>


<table border="1" style="width: 400px; border: 1px solid black">
    <thead>
    <tr>
        <th style="width: 10%; text-align: center">#</th>
        <th style="width: 25%; text-align: center">Type</th>
        <th style="width: 25%; text-align: center">Link</th>
        <th style="width: 40%; text-align: center">Preview</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
        <td th:text="${file.id}" style="text-align: center"></td>
        <td th:text="${file.type}" style="text-align: center"></td>
        <td style="text-align: center"><a th:href="@{/download/{id} (id=${file.id}) }" th:text="${file.name}"></a></td>
        <td style="text-align: center">
					<span th:if="${file.image}">
						<img th:src="@{/download/{id} (id=${file.id})}" width="160px"/>
					</span>
            <span th:unless="${file.image}">-</span>
        </td>
    </tbody>
</table>
</body>

</html>