<html>
<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
       layout:decorate="~{layout}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>titulo</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
    <!-- Custom styles for this template -->

</head>
<body class="text-center">
<div layout:fragment="header_home" class="" style=""></div>
<div layout:fragment="corpo" class="row justify-content-center align-items-center col">
    <form class="w-25" th:action="@{/proposta/accept/{id} (id=${id})}" method="post">
        <h1 class="h3 mb-3 fw-normal">Aceitar</h1>

        <div class="form-floating">
            <input type="number" class="form-control" name="username" id="floatingInput" placeholder="10000,00">
            <label for="floatingInput">Valor</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" name="condPag" id="floatingCondPag" placeholder="Parcelar em 3x">
            <label for="floatingCondPag">Condição de Pagamento</label>
        </div>

        <div class="form-floating">
            <input type="text"  class="form-control" name="data"  id="floatingData" placeholder="xx/xx/xxxx">
            <label for="floatingData">Data</label>
        </div>

        <button class="mt-5 mb-3 btn btn-lg btn-primary" type="submit">Aceitar</button>
    </form>
</div>
</body>
</html>