<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
       layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Katchau</title>
</head>
<body>
<div layout:fragment="header_default" style="" class=""></div>

<div layout:fragment="corpo" class="col">

    <div class="row justify-content-center align-items-center">
        <form class="w-25" th:action="@{/proposta/reject/{id} (id=${id})}" th:object="${form}" method="post">
                <h1 th:text="#{recusar}" class="h3 mb-3 fw-normal">Recusar</h1>

            <div class="form-floating">
                <input type="number" step="0.1" min="0" class="form-control" name="valor" id="floatingV" placeholder="10000,00" >
                <label th:text="#{valor}" for="floatingV"></label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" name="condPag" id="floatingCond" placeholder="Parcelar em 3x" >
                <label th:text="#{condPag}" for="floatingCond"></label>
            </div>

            <div class="form-floating">
                <input type="text"  class="form-control" name="mensagem" id="floatingMensage" placeholder="Mau">
                <label th:text="#{mensagem}" for="floatingMensage"></label>
            </div>

            <button th:text="#{recusar}" class="mt-5 mb-3 btn btn-lg btn-primary" type="submit"></button>
            </form>
    </div>
</div>
</body>
</html>