<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
       layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Katchau</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</head>
<body>
<div layout:fragment="header_home" style="" class=""></div>
<div layout:fragment="corpo" class="row justify-content-center align-items-center" style="flex:1; justify-content:center">
    <div style="width: fit-content">
    <form
            th:action="@{/cliente/salvar}"
            th:object="${cliente}" method="POST"
            style="width:fit-content"
    >
        <h1 th:text="#{cadastro}" class="h3 mb-3 fw-normal"></h1>
        <div class="form-row">
            <div class="form-floating">
                <input type="text" class="form-control" id="nome" autofocus="autofocus"
                       th:field="*{nome}" th:placeholder="#{nome}"
                       th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" />
                <label for="nome" th:text="#{nome}"></label>
                <div class="invalid-feedback">
                    <span th:errors="*{nome}"></span>
                </div>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="telefone" autofocus="autofocus"
                       th:field="*{telefone}" th:placeholder="#{telefone}"
                       th:classappend="${#fields.hasErrors('telefone')} ?  'is-invalid'" />
                <label for="telefone" th:text="#{telefone}"></label>
                <div class="invalid-feedback">
                    <span th:errors="*{telefone}"></span>
                </div>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="sexo" autofocus="autofocus"
                       th:field="*{sexo}" th:placeholder="#{sexo}"
                       th:classappend="${#fields.hasErrors('sexo')} ? 'is-invalid'" />
                <label for="sexo" th:text="#{sexo}"></label>
                <div class="invalid-feedback">
                    <span th:errors="*{sexo}"></span>
                </div>
            </div>

            <div class="form-floating">
                <input type="date" class="form-control" id="nascimento" autofocus="autofocus"
                       th:placeholder="#{dataNasc}"
                       th:field="*{nascimento}"
                       th:classappend="${#fields.hasErrors('nascimento')} ? 'is-invalid'" />
                <label for="nascimento" th:text="#{DataNasc}"></label>
                <div class="invalid-feedback">
                    <span th:errors="*{nascimento}"></span>
                </div>
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="email" autofocus="autofocus"
                       th:field="*{email}" th:placeholder="#{email}"
                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" />
                <label for="email" th:text="#{Email}"></label>
                <div class="invalid-feedback">
                    <span th:errors="*{email}"></span>
                </div>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="senha" autofocus="autofocus"
                       th:field="*{senha}" th:placeholder="#{senha}"
                       th:classappend="${#fields.hasErrors('senha')} ? 'is-invalid'" th:readonly="${cliente!= null && cliente.id != null}"/>
                <label for="senha" th:text="#{Senha}"></label>
                <div class="invalid-feedback">
                    <span th:errors="*{senha}"></span>
                </div>
            </div>

            <div class="form-floating">
                <input onkeypress="$(this).mask('000.000.000-00');" type="text" class="form-control" id="cpf" autofocus="autofocus"
                       th:field="*{cpf}" placeholder="___.___.___-__"
                       data-mask="000.000.000-00" data-mask-reverse="true"
                       th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'" />
                <label for="cpf" th:text="#{cpf}"></label>
                <div class="invalid-feedback">
                    <span th:errors="*{cpf}"></span>
                </div>
            </div>
        </div>

        <input type="hidden" id="papel" th:field="*{papel}" />
        <input type="hidden" id="id" th:field="*{id}" />
        <br>
        <button type="submit" th:text="#{enviar}"
                class="btn btn-primary btn-sm"></button>
    </form>
</div></div>
</body>
</html>