<html>
<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
       layout:decorate="~{layout}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Katchau</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
    <!-- Custom styles for this template -->

</head>
<body class="text-center">
<div layout:fragment="header_home" class="" style=""></div>
<div layout:fragment="corpo" class="row justify-content-center align-items-center col">
    <form class="w-25" th:action="@{/proposta/accept/{id} (id=${id})}" th:object="${form}" method="post" >
        <h1 class="h3 mb-3 fw-normal">Aceitar</h1>

        <div class="form-floating">
            <input type="datetime-local" class="form-control" th:field="*{data}" id="floatingData" th:placeholder="#{data}"  th:classappend="${#fields.hasErrors('data')} ? 'is-invalid'" >
            <label for="floatingData" th:text="#{data}"></label>
            <div class="invalid-feedback">
                <span th:errors="*{data}"></span>
            </div>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" th:field="*{link}" id="floatingLinkReu" th:placeholder="meet.com"  th:classappend="${#fields.hasErrors('link')} ? 'is-invalid'" >
            <label for="floatingLinkReu">Link da reunião</label>
            <div class="invalid-feedback">
                <span th:errors="*{link}"></span>
            </div>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" th:field="*{mensagem}" id="floatingMensage" th:placeholder="Gostei"  th:classappend="${#fields.hasErrors('mensagem')} ? 'is-invalid'" >
            <label for="floatingMensage">Mensagem</label>
            <div class="invalid-feedback">
                <span th:errors="*{mensagem}"></span>
            </div>
        </div>

        <button class="mt-5 mb-3 btn btn-lg btn-primary" type="submit">Aceitar</button>
    </form>
</div>
</body>
</html>