<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
       layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Katchau</title>
</head>
<body>
<div layout:fragment="header_home" style="" class=""></div>
<div layout:fragment="corpo" class="row justify-content-center align-items-center" style="flex:1; justify-content:center">
<div style="width: fit-content;">
    <form method="POST" th:action="@{/carro/create}" th:object="${form}" enctype="multipart/form-data">
        <div class="form-floating">
            <input type="number" class="form-control" th:field="*{valor}" id="floatingInput" placeholder="40000.00" th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'" />

            <div class="invalid-feedback">
                <span th:errors="*{valor}"></span>
            </div>
            <label for="floatingInput" th:text="#{valor}"></label>
        </div>
        <div class="form-floating">
            <input type="number" class="form-control" th:field="*{km}" id="floatingKM" placeholder="0" th:classappend="${#fields.hasErrors('km')} ? 'is-invalid'" />

            <div class="invalid-feedback">
                <span th:errors="*{km}"></span>
            </div>
            <label for="floatingKM" th:text="#{km}"></label>
        </div>
        <div class="form-floating">
            <input type="number" class="form-control" th:field="*{ano}" id="floatingAno" placeholder="2018" th:classappend="${#fields.hasErrors('ano')} ? 'is-invalid'" />

            <div class="invalid-feedback">
                <span th:errors="*{ano}"></span>
            </div>
            <label for="floatingAno" th:text="#{ano}"></label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" th:field="*{chassi}" id="floatingChassi" placeholder="12" th:classappend="${#fields.hasErrors('chassi')} ? 'is-invalid'" />

            <div class="invalid-feedback">
                <span th:errors="*{chassi}"></span>
            </div>
            <label for="floatingChassi" th:text="#{chassi}"></label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" th:field="*{descricao}" id="floatingDesc" placeholder="carro bom" th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'" />

            <div class="invalid-feedback">
                <span th:errors="*{descricao}"></span>
            </div>
            <label for="floatingDesc" th:text="#{descricao}"></label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" th:field="*{modelo}" id="floatingMod" placeholder="Fiat 147"th:classappend="${#fields.hasErrors('modelo')} ? 'is-invalid'" />

            <div class="invalid-feedback">
                <span th:errors="*{modelo}"></span>
            </div>
            <label for="floatingMod" th:text="#{modelo}"></label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" th:field="*{placa}" id="floatingPlaca" placeholder="abc1d23" th:classappend="${#fields.hasErrors('placa')} ? 'is-invalid'" />

            <div class="invalid-feedback">
                <span th:errors="*{placa}"></span>
            </div>
            <label for="floatingPlaca" th:text="#{placa}"></label>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label" th:text="#{imagem}"></label>
            <input class="form-control" multiple th:field="*{imagens}" type="file" id="formFile" th:classappend= "${#fields.hasErrors('imagens')} ? 'is-invalid'">
            <div class="invalid-feedback">
                <span th:errors="*{imagens}"></span>
            </div>

        </div>
        <button th:text="#{cadastrar}" class="mt-5 mb-3 btn btn-lg btn-primary" type="submit"></button>


    </form>
</div>
</div>
</body>
</html>