<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
       layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Katchau</title>
</head>
<body>
<div layout:fragment="header_home" style="" class=""></div>

<div layout:fragment="corpo">

    <div class="row justify-content-center align-items-center">
        <form class="w-25" th:action="@{/proposta/salvar}" method="post" th:object="${proposta}" >
            <h1 class="h3 mb-3 fw-normal" th:text="#{fazer_proposta}"></h1>
            <div class="form-floating">
                <input type="text" class="form-control" required th:field="*{condPag}" id="floatingCond" th:placeholder="#{condPag}" th:classappend="${#fields.hasErrors('condPag')} ? 'is-invalid'">
                <label for="floatingCond" th:text="#{condPag}"></label>
                <div class="invalid-feedback">
                    <span th:errors="*{condPag}"></span>
                </div>
            </div>

            <div class="form-floating">
                <input type="number" step="0.1" required class="form-control" th:field="*{valor}"  id="floatingValue" th:placeholder="#{valor}" th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'">
                <label for="floatingValue" th:text="#{valor}"></label>
                <div class="invalid-feedback">
                    <span th:errors="*{valor}"></span>
                </div>
            </div>

            <input type="hidden" th:field="*{car_id}" th:value="${proposta.car_id}" id="carro">
            <input type="hidden" th:field="*{cli_id}" th:value="${proposta.cli_id}" id="cliente">

            <button class="mt-5 mb-3 btn btn-lg btn-primary" type="submit" th:text="#{fazer_proposta}"></button>
        </form>
    </div>

</div>
</body>
</html>

