<html xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1" style="width: 400px; border: 1px solid black">
    <tr th:each="cli : ${clientes}">
        <td> <span th:text="${cli.cpf}"></span></td>
        <td> <span th:text="${cli.getNome()}"></span></td>
        <td> <span th:text="${cli.getSexo()}"></span></td>
        <td> <span th:text="${cli.getTelefone()}"></span></td>
        <td> <span th:text="${cli.getNascimento()}"></span></td>
        <td> <span th:text="${cli.getEmail()}"></span></td>
        <td> <button>Apertavel</button></td>
    </tr>
</table>
</body>
</html>