<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
       layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Katchau</title>
</head>
<body>
<div layout:fragment="header_default" style="" class=""></div>
<div layout:fragment="sidebar" style="" class=""></div>

<div layout:fragment="corpo">

    <div th:if="${param.error}">
        <div class="alert alert-danger">
            <span th:text="blabla"></span>
        </div>

    </div>

    <div class="row justify-content-center align-items-center">
        <form class="w-25" th:action="@{/login}" method="post">
            <h1 class="h3 mb-3 fw-normal">Login</h1>

            <div class="form-floating">
                <input type="email" class="form-control" name="username" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password"  class="form-control" name="password"  id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="mt-5 mb-3 btn btn-lg btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>