<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
       layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="header_home" style="" class=""></div>
<div layout:fragment="corpo" >
    <table border="1" style="width: 400px; border: 1px solid black">
        <tr th:each="proposta : ${propostas}">
            <td> <span th:text="${proposta.carro.getModelo()}"></span></td>
            <td> <span th:text="${proposta.valor}"></span></td>
            <td> <span th:text="${proposta.getDataStr()}"></span></td>
            <td> <span th:text="${proposta.carro.loja.getNome()}"></span></td>
        </tr>
    </table>
</div>
</body>
</html>