<html xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>titulo</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
    <!-- Custom styles for this template -->

</head>
<body class="text-center">
<table border="1" style="width: 400px; border: 1px solid black">
    <tr th:each="proposta : ${propostas}">
        <td> <span th:text="${proposta.carro.getModelo()}"></span></td>
        <td> <span th:text="${proposta.valor}"></span></td>
        <td> <span th:text="${proposta.getDataStr()}"></span></td>
        <td> <span th:text="${proposta.loja.getNome()}"></span></td>
    </tr>
</table>
</body>
</html>